<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>filterName</key>
		<string>Original</string>
		<key>type</key>
		<string>none</string>
		<key>imageName</key>
		<string>no_ic</string>
	</dict>
	<dict>
		<key>filterName</key>
		<string>A1</string>
		<key>type</key>
		<string>Lookup</string>
		<key>imageName</key>
		<string>Lookup_P3.png</string>
		<key>color</key>
		<integer>16750518</integer>
	</dict>
	<dict>
		<key>filterName</key>
		<string>A2</string>
		<key>type</key>
		<string>Lookup</string>
		<key>imageName</key>
		<string>Lookup_P5.png</string>
		<key>color</key>
		<integer>16750518</integer>
	</dict>
	<dict>
		<key>filterName</key>
		<string>A3</string>
		<key>type</key>
		<string>Lookup</string>
		<key>imageName</key>
		<string>Lookup_F1.png</string>
		<key>color</key>
		<integer>10368765</integer>
	</dict>
	<dict>
		<key>filterName</key>
		<string>A4</string>
		<key>type</key>
		<string>Lookup</string>
		<key>imageName</key>
		<string>Lookup_F2.png</string>
		<key>color</key>
		<integer>10368765</integer>
	</dict>
	<dict>
		<key>filterName</key>
		<string>B1</string>
		<key>type</key>
		<string>Lookup</string>
		<key>imageName</key>
		<string>Lookup_F4.png</string>
		<key>color</key>
		<integer>10368765</integer>
	</dict>
	<dict>
		<key>filterName</key>
		<string>B2</string>
		<key>type</key>
		<string>Lookup</string>
		<key>imageName</key>
		<string>Lookup_Y1.png</string>
		<key>color</key>
		<integer>16769806</integer>
	</dict>
	<dict>
		<key>filterName</key>
		<string>B3</string>
		<key>type</key>
		<string>Lookup</string>
		<key>imageName</key>
		<string>Lookup_Y3.png</string>
		<key>color</key>
		<integer>16769806</integer>
	</dict>
	<dict>
		<key>filterName</key>
		<string>B4</string>
		<key>type</key>
		<string>Lookup</string>
		<key>imageName</key>
		<string>Lookup_B1.png</string>
		<key>color</key>
		<integer>6088447</integer>
	</dict>
	<dict>
		<key>filterName</key>
		<string>C1</string>
		<key>type</key>
		<string>Lookup</string>
		<key>imageName</key>
		<string>Lookup_B2.png</string>
		<key>color</key>
		<integer>6088447</integer>
	</dict>
	<dict>
		<key>filterName</key>
		<string>C2</string>
		<key>type</key>
		<string>Lookup</string>
		<key>imageName</key>
		<string>Lookup_B3.png</string>
		<key>color</key>
		<integer>6088447</integer>
	</dict>
	<dict>
		<key>filterName</key>
		<string>C3</string>
		<key>type</key>
		<string>Lookup</string>
		<key>imageName</key>
		<string>Lookup_B4.png</string>
		<key>color</key>
		<integer>6088447</integer>
	</dict>
	<dict>
		<key>filterName</key>
		<string>C4</string>
		<key>type</key>
		<string>Lookup</string>
		<key>imageName</key>
		<string>Lookup_B5.png</string>
		<key>color</key>
		<integer>6088447</integer>
	</dict>
	<dict>
		<key>filterName</key>
		<string>D1</string>
		<key>type</key>
		<string>Lookup</string>
		<key>imageName</key>
		<string>Lookup_B6.png</string>
		<key>color</key>
		<integer>6088447</integer>
	</dict>
	<dict>
		<key>filterName</key>
		<string>D2</string>
		<key>type</key>
		<string>Lookup</string>
		<key>imageName</key>
		<string>Lookup_AM1.png</string>
		<key>color</key>
		<integer>16616449</integer>
	</dict>
	<dict>
		<key>filterName</key>
		<string>D3</string>
		<key>type</key>
		<string>Lookup</string>
		<key>imageName</key>
		<string>Lookup_AM2.png</string>
		<key>color</key>
		<integer>16616449</integer>
	</dict>
	<dict>
		<key>filterName</key>
		<string>D4</string>
		<key>type</key>
		<string>Lookup</string>
		<key>imageName</key>
		<string>Lookup_AM3.png</string>
		<key>color</key>
		<integer>16616449</integer>
	</dict>
	<dict>
		<key>filterName</key>
		<string>E1</string>
		<key>type</key>
		<string>Lookup</string>
		<key>imageName</key>
		<string>Lookup_AM4.png</string>
		<key>color</key>
		<integer>16616449</integer>
	</dict>
	<dict>
		<key>filterName</key>
		<string>E2</string>
		<key>type</key>
		<string>Lookup</string>
		<key>imageName</key>
		<string>Lookup_W1.png</string>
		<key>color</key>
		<integer>14959437</integer>
	</dict>
	<dict>
		<key>filterName</key>
		<string>E3</string>
		<key>type</key>
		<string>Lookup</string>
		<key>imageName</key>
		<string>Lookup_W2.png</string>
		<key>color</key>
		<integer>14959437</integer>
	</dict>
	<dict>
		<key>filterName</key>
		<string>E4</string>
		<key>type</key>
		<string>Lookup</string>
		<key>imageName</key>
		<string>Lookup_W3.png</string>
		<key>color</key>
		<integer>14959437</integer>
	</dict>
	<dict>
		<key>filterName</key>
		<string>F1</string>
		<key>type</key>
		<string>Lookup</string>
		<key>imageName</key>
		<string>Lookup_L1.png</string>
		<key>color</key>
		<integer>321690</integer>
	</dict>
	<dict>
		<key>filterName</key>
		<string>F2</string>
		<key>type</key>
		<string>Lookup</string>
		<key>imageName</key>
		<string>Lookup_L2.png</string>
		<key>color</key>
		<integer>321690</integer>
	</dict>
	<dict>
		<key>filterName</key>
		<string>F3</string>
		<key>type</key>
		<string>Lookup</string>
		<key>imageName</key>
		<string>Lookup_L3.png</string>
		<key>color</key>
		<integer>321690</integer>
	</dict>
	<dict>
		<key>filterName</key>
		<string>F4</string>
		<key>type</key>
		<string>Lookup</string>
		<key>imageName</key>
		<string>Lookup_T1.png</string>
		<key>color</key>
		<integer>16705639</integer>
	</dict>
	<dict>
		<key>filterName</key>
		<string>G1</string>
		<key>type</key>
		<string>Lookup</string>
		<key>imageName</key>
		<string>Lookup_T2.png</string>
		<key>color</key>
		<integer>16705639</integer>
	</dict>
	<dict>
		<key>filterName</key>
		<string>G2</string>
		<key>type</key>
		<string>Lookup</string>
		<key>imageName</key>
		<string>Lookup_T3.png</string>
		<key>color</key>
		<integer>16705639</integer>
	</dict>
	<dict>
		<key>filterName</key>
		<string>G3</string>
		<key>type</key>
		<string>Lookup</string>
		<key>imageName</key>
		<string>Lookup_T4.png</string>
		<key>color</key>
		<integer>16705639</integer>
	</dict>
	<dict>
		<key>filterName</key>
		<string>G4</string>
		<key>type</key>
		<string>Lookup</string>
		<key>imageName</key>
		<string>Lookup_T5.png</string>
		<key>color</key>
		<integer>16705639</integer>
	</dict>
</array>
</plist>
